@media(max-width: 576px){

   
   header{
      width: 100%;
      height: auto;
   }
   nav{
    width: 85%;
   }

   .containar{
    width: 90%;
    margin: 0 auto;
   }
     .bannar{
        flex-direction: column;
        width: 90%;
        margin: auto;
        justify-content: flex-start;
        margin-bottom: 20px;
       
     }
     .bannar-img{
      width: 100%;
      position: relative;
     }
     .menu-btn{
      display: block;
      text-align: center;
      justify-content: center;
      
    }
   .navbar ul{
       display: none;
    }
    .bannar-text{
      width: 90%;
      margin-top: 20px;
      
    }
  
    .bannar-content{
      width: 70%;
    }
    .bannar-btn{
      width: 100%;
    }
    .bannar-text h1{
      font-size: 3rem;
      
    }
    .bannar-text p{
      font-size: 1rem;
      
  }
    .btn-primary{
      padding: 15px 35px; 
      border-radius: 46px;
      margin-left: 5px;
  }


  .box{
    height: 86px;
    width: 160px;
    font-size: 12px;
    position: absolute;
    top: 70%;
    right: 45%;
  }
 .box-item{
  height: 86px;
  width: 165px;
 position: absolute;
 top: 8%;
 left: 45%;
 font-size: medium;
 }
 
.box-b{
  height: 35px;
  width: 35px;
  margin-right: 5px;
}
.habit-img-item{
 margin-bottom: 20px;

}
.habit-img-item h5{
  font-size: 1.5rem;
}

.habit-text{
  width: 90%;
}
.habit-img{
  display: grid;
  grid-template-columns:repeat(1, 1fr);
  
}
.run-content{
  flex-direction: column;
  width: 85%;
  height: auto;
}
.run-text{
  width: 90%;
}
.run-img{
  width: 90%;
  margin-left: 5px;
}
.responsive-btn{
 
  width: 90%;
  height: 50px;
  
}
.bmi-tittle{
 text-align: start;
  width: 90%;

}
.bmi-item p{
  margin-bottom: 20px;
  line-height: 1.2rem;
}
input{
 
  margin-bottom: 8px;
  margin-right: px;
}
.large{
  margin-bottom: 20px;
 

}
label{
 margin-right: 0;
 
}
select{
 
  margin-bottom: 0px;
}
.bmi-table-section{
 flex-direction: column;
}
.table-item{
  width: 100%;
}
.bmi-item{
  width: 100%;
}
table{
  width: 100%;
  margin-bottom: 25px;
  
}
.bmi-item h2{
  margin-bottom: 15px;
  font-weight: bold;
  font-size: medium;
}
.table-item h2{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: medium;
}
.team-img{
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.features-content{
	flex-direction: column;
	

}

.features-text p{
  margin-bottom: 45px;
}
.features-main{
	width: 100%;
	margin: 0 16px;
	

}
.features-box{
  width: 250px;
  height: 350px;
  position: relative;
  margin-bottom: 30px;
}
.features-innerbox{
  position: absolute;
  top: 40px;
  left: 15px;
}

.features-box::after{
content: '';
width: 1.5px;
height: 25px;
background-color: #000;
display: block;
position: absolute;
top: 18%;
left: 100%;
}
.features-box::before{
content: '';
width: 1.5px;
height: 25px;
background-color: #000;
display: block;
position: absolute;
top: 30%;
left: 100%;
}
.footer-text{
 width: 100%;
 
}
.footer-item{
  flex-direction: column;
  

}
.footer-item-1{
  width: 100%;
}
.footer-items{
  width: 100%;
  margin-bottom: 25px;
}

p{
  font-size: 16px;
  
}

}




@media(max-width: 490px){
  .bannar-text{
    width: 100%;
    margin-top: 20px;
    
  }

  .bannar-content{
    width: 95%;
  }
 
 .btn-primary-responsive{

  padding: 15px 18px; 
  border-radius: 40px;
  margin-left: 5px;
 }
 
 .footer-text p{
  font-size: 1.2rem;
}
}



@media(max-width: 360px){

 .btn{
    margin-top: 10px;
   }
 
}