@media(max-width: 576px){

   
   header{
      width: 100%;
      height: auto;
   }
   nav{
    
   }

   
     .bannar{
        flex-direction: column;
        width: 90%;
        justify-content: flex-start;
        margin-bottom: 20px;
       
     }
     .bannar-img{
      width: 100%;
     }
     .menu-btn{
      display: block;
      text-align: center;
      justify-content: center;
      
      
    }
   .navbar ul{
       display: none;
    }
    .bannar-text{
      width: 100%;
      margin-top: 20px;
    }
    .bannar-content{
      width: 80%;
    }
    .bannar-text h1{
      font-size: 2rem;
      
    }
    .bannar-text p{
      font-size: .95rem;
      
  }
    button{
      padding: 8px 20px; 
      border-radius: 46px;
      margin-left: 5px;
     
  }
  .btn{
   padding: 8px 20px; 
   border-radius: 46px;
  }

  .box{
    height: 68px;
    width: 145px;
    top: 300px;
    left: 15px;
    font-size: 12px;
  }
 .box-item{
  height: 70px;
  width: 140px;
  top: 40px;
  left: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

 }
 .box-text-1{
  margin: 15px;
  
 }
.box-b{
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.habit-img-item{
 margin-bottom: 20px;

}
.habit-img-item h5{
  font-size: 1.5rem;
}

.habit-text{
  width: 90%;
}
.habit-img{
  display: grid;
  grid-template-columns:repeat(1, 1fr);
  
}
.run{
  flex-direction: column;
  width: 85%;
  height: auto;
}
.run-text{
  width: 90%;
}
.run-img{
  width: 90%;
  margin-left: 5px;
}
.responsive-btn{
 
  width: 90%;
  height: 50px;
  
}
.bmi-tittle{
 text-align: start;
  width: 90%;

}


.team-img{
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 
  
}

.features-content{
	flex-direction: column;
	

}


.features-main{
	width: 100%;
	margin: 0 16px;
	

}
.features-box{
  width: 250px;
  height: 350px;
  position: relative;
  margin-bottom: 30px;
}
.features-innerbox{
  position: absolute;
  top: 40px;
  left: 15px;
}

.features-box::after{
content: '';
width: 1.5px;
height: 25px;
background-color: #000;
display: block;
position: absolute;
top: 18%;
left: 100%;
}
.features-box::before{
content: '';
width: 1.5px;
height: 25px;
background-color: #000;
display: block;
position: absolute;
top: 30%;
left: 100%;
}

}