@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Sevillana&display=swap');

*{
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	
}
img{
    width: 100%;
}
a{
	text-decoration: none;
}
p{
    color: #8b8b8b;
}
ul{
	list-style: none;

}
button{
    padding: 16px 40px; 
    border-radius: 46px;
    background: #d74f39;
    color: #ffffff;
}
.btn{
    margin-left: 5px;
    background: #000;
    color: #ffffff;
    padding: 16px 40px; 
    border-radius: 46px;
    border: #ffffff 1px solid;
}


header{
   
    color: #ffffff;
    width: 100%;
    height: 715px;
    padding: 40px 0 ;
   
}
.bg{
    background-color: rgb(17, 17, 17);
    width: 100%;

}
.containar{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;

}
/*    ----- navbar ----- */
nav{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70%;
    height: 46px;
    justify-content: space-between;
  
}
.navbar{
    display: flex;
    
}
.menu-btn{
	display: none;
    text-align: center;
}
.menu-btn i{
	color: #ffffff;
	font-size: 24px;

	
}

.navbar ul {
    display: flex;
    border: #2c2c2c 2px solid;
    background: transparent;
    border-radius: 46px;
    padding: 5px;

   
}
.navbar ul li{
    padding: 10px;
    margin-right: 47px;
    font-size: 1rem;

}
.navbar ul li a{
    color: #ffffff;
}
.navbar ul li:first-child{
    background: #d74f39;
    border-radius: 46px;
    padding: 8px 25px;

}
.logo{
    font-size: 2rem;
    color:#d74f39 ;
    font-style: italic;
    font-weight: bold;
}
/*---- bannar ---- */


.bannar{
    display: flex; 
    margin: auto;
    width: 70%;
    height: auto;
    padding: 32px 0px 2px 0px;
    justify-content: space-between;
    flex-direction: row; 

}
.bannar-text{
    width: 40%;
    margin: 100px 32px 48px 0px ;
    align-items: center;

}
.bannar-text h1{
    font-size: 4rem;
    margin-bottom: 28px;
    
}
.bannar-text p{
    font-size: 1rem;
    color: #8b8b8b;
    margin-bottom: 28px;
}

.bannar-text span{
    font-style: italic;
    font-family: "Playwrite AT", cursive;
    font-weight: 200;
}
.bannar-img{
    height: 580px;
    width: 349px;
    position: relative;
}
.bannar-img img{
    width: 100%;
    height: 100%;
}
.box{
    height: 96px;
    width: 206px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 470px;
    right: 195px;
    border: #5a5049 1px solid;
   

}
.box-text{
     font-size: 1rem;
}
.box-text h3{
    font-weight: bolder;
}
.box-item{
    height: 98px;
    width: 193px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 160px;
    left: 220px;
    border: #5a5049 1px solid;  
}

.box-text-1 h2{
    font-weight: bolder;
}
   

.box-b{
    height: 40px;
    width: 40px;
    background: #d74f39 ;
    border-radius: 50%;
    margin-right: 10px;
}
/*--- Habit --- */

.habit-text{
    color: #ffffff;
    text-align: center;
    align-items: center;
    margin:auto;
    width: 65%;
}
.habit-content{
    margin-bottom: 50px;
}
.habit-text p{
   
    margin-top: 10px;
}
h5{
    color: #ffffff;
    margin-bottom: 10px;
}
h1{
    color: #ffffff;
}
.habit-img{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    margin-top: 45px;
    
}
.habit-img-item{
   
    text-align: center;
}
.habit-img-item img{
    width: 55%;
    border-radius: 50%;
    border: #ffffff 1px solid;
    margin-bottom: 12px;
    
}
/*--- run section ---- */

.run{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    height: 320px;
    padding: 24px;
    border-radius: 18px;
}
.run-img{
    width: 45%;
   
}
.run-img img{
    border-radius: 18px;
}
.run-text{
    width: 40%;
    align-items: center;
    justify-content: center;
   margin: 40px 0 30px 30px;
}
.run-text h1{
    margin-bottom: 20px;
}
.run-text p{
    margin-bottom: 22px;
}